<%- include('./includes/header.ejs') %>

  <div id="cases">
    <div class="case">
      <a href="/admin/courses">
        <i class="bi bi-film"></i>
        <p>
          درس ها
        </p>
      </a>
    </div>
    <div class="case">
      <a href="/admin/users">
        <i class="bi bi-people"></i>
        <p>
          اعضاء
        </p>
      </a>
    </div>
  </div>
  <%- include('./includes/footer.ejs') %>
