<%- include('./includes/header.ejs') %>

<div id="filterBar">
  <div id="searchBox">
    <input type="text" id="search" placeholder="جستجو بین اسمها ،هشتگها ، دبیران و ...">
  </div>
  <div class="filter">

  </div>
</div>
<div id="coursesAdmin">
  <div class="cases">
    <div class="case">
      <div class="title">
        <a href="#">
          <!-- <img src="" alt=""> -->
          <i class="bi bi-person"></i>
          <p>پرهام سنجانکی</p>
        </a>
      </div>

      <div class="scroll">
        <div class="courses">
          <div class="course">
            <figure>
              <img src="/public/imgs/instanse.jpg" alt="">
              <figcaption>
                <h2><a href="">
                    دوره جاوااسکریپت
                  </a></h2>
                <br>
                <div class="table">
                  <div class="col">
                    <div class="td">
                      <i class="bi bi-person"></i>
                      <a href="">
                        <p>پرهام سنجانکی</p>
                      </a>
                    </div>

                    <div class="td">
                      <i class="bi bi-people"></i>
                      <p>
                      <div class="count">
                        1435
                      </div>
                      <div style="margin: 0 5px;">نفر </div>
                      </p>
                    </div>
                    <div class="td">
                      <i class="bi bi-star-half"></i>
                      <p>
                      <div class="count">
                        4/5
                      </div>
                      <div style="margin: 0 5px;">از </div>
                      <div>5</div>
                      </p>
                    </div>
                  </div>
                  <div class="col">
                    <div class="td">
                      <i class="bi bi-film"></i>
                      <p>
                      <div class="count">
                        32
                      </div>
                      <div style="margin: 0 5px;">عدد </div>
                      </p>
                    </div>
                    <div class="td">

                      <i class="bi bi-clock"></i>
                      <div class="count">
                        10:35
                      </div>
                      <div style="margin: 0 5px;">ساعت </div>

                    </div>


                    <div class="td">
                      <i class="bi bi-currency-dollar"></i>
                      <p>
                      <div class="count">
                        1500000
                      </div>
                      <div style="margin: 0 5px;">تومان </div>
                      </p>
                    </div>
                  </div>
                </div>
                <br>
                <div class="btns">
                  <a href="">حذف دوره</a>
                  <a href="">اصلاح دوره</a>
                </div>
              </figcaption>
            </figure>
          </div>

          <a href="">
            <div id="more">
              <i class="bi bi-three-dots"></i>
              <p>دیدن همه موارد</p>
            </div>
          </a>
        </div>
      </div>
    </div>

    <div class="case">
      <div class="title">
        <a href="#">
          <!-- <img src="" alt=""> -->
          <i class="bi bi-person"></i>
          <p>پرهام سنجانکی</p>
        </a>
      </div>

      <div class="scroll">
        <div class="courses">
          <div class="course">
            <figure>
              <img src="/public/imgs/instanse.jpg" alt="">
              <figcaption>
                <h2><a href="">
                    دوره جاوااسکریپت
                  </a></h2>
                <br>
                <div class="table">
                  <div class="col">
                    <div class="td">
                      <i class="bi bi-person"></i>
                      <a href="">
                        <p>پرهام سنجانکی</p>
                      </a>
                    </div>

                    <div class="td">
                      <i class="bi bi-people"></i>
                      <p>
                      <div class="count">
                        1435
                      </div>
                      <div style="margin: 0 5px;">نفر </div>
                      </p>
                    </div>
                    <div class="td">
                      <i class="bi bi-star-half"></i>
                      <p>
                      <div class="count">
                        4/5
                      </div>
                      <div style="margin: 0 5px;">از </div>
                      <div>5</div>
                      </p>
                    </div>
                  </div>
                  <div class="col">
                    <div class="td">
                      <i class="bi bi-film"></i>
                      <p>
                      <div class="count">
                        32
                      </div>
                      <div style="margin: 0 5px;">عدد </div>
                      </p>
                    </div>
                    <div class="td">

                      <i class="bi bi-clock"></i>
                      <div class="count">
                        10:35
                      </div>
                      <div style="margin: 0 5px;">ساعت </div>

                    </div>


                    <div class="td">
                      <i class="bi bi-currency-dollar"></i>
                      <p>
                      <div class="count">
                        1500000
                      </div>
                      <div style="margin: 0 5px;">تومان </div>
                      </p>
                    </div>
                  </div>
                </div>
                <br>
                <div class="btns">
                  <a href="">حذف دوره</a>
                  <a href="">اصلاح دوره</a>
                </div>
              </figcaption>
            </figure>
          </div>

          <a href="">
            <div id="more">
              <i class="bi bi-three-dots"></i>
              <p>دیدن همه موارد</p>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- <table>
  <tr>
    <th>
      col1
    </th>
    <th>
      col2
    </th>
    <th>col3</th>
    <th>col4</th>
  </tr>
  <tr>
    <td>w</td>
    <td>w</td>
    <td>w</td>
    <td>w</td>
  </tr>
  <tr>
    <td>w</td>
    <td>w</td>
    <td>w</td>
    <td>w</td>
  </tr>
  <tr>
    <td>w</td>
    <td>w</td>
    <td>w</td>
    <td>w</td>
  </tr>
</table> -->

<script>
  console.log(window.navigator.storage)
  document.getElementById('search').onkeyup = (e => {
    let pattern = /[آ-ی]/
    pattern.test(e.target.value) ? document.getElementById("search").style.textAlign = 'right' : document.getElementById("search").style.textAlign = 'left'
  })
</script>

<%- include('./includes/footer.ejs') %>