<%- include('./includes/header.ejs') %>

<head>
  <title>
    ورود
  </title>
</head>
<form action="/auth/register" method="post">
  <i class="bi bi-person"></i>
  <input type="text" name="name" id="name" placeholder="name">
  <input type="text" name="username" id="username" placeholder="username">
  <input type="password" name="password" id="password" placeholder="password">
  <input type="mail" name="mail" id="mail" placeholder="mail">
  <input type="submit" value="ورود">
  <a href="/auth/login">ورود</a>
</form>
<%- include('./includes/footer.ejs') %>